.choice {
	margin-right: 30px;
	&-cover {
		height: 200px;
		width: 200px;
		position: relative;
		&-img {
			height: 100%;
			width: 100%;
			border-radius: 10px;
		}
		&-overlay {
			height: 100%;
			width: 100%;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
			top: 0;
			left: 0;
			background: rgba($color: #000000, $alpha: 0.7);
			opacity: 0;
			transition: all 0.3s;
			&-btn {
				padding: 10px 20px;
				border-radius: 20px;
				border: none;
				outline: none;
				cursor: pointer;
				font-size: 1.2rem;
				letter-spacing: 1px;
				background: rgba(255, 255, 255, 0.4);
				color: #fff;
				transform: translateY(50px);
				transition: all 0.3s;
				&:hover {
					background: #fff;
					color: #000;
				}
			}
		}
		&:hover > &-overlay {
			opacity: 1;
		}
		&:hover > &-overlay > &-overlay-btn {
			transform: translateY(0);
		}
	}
	&-name {
		font-weight: 300;
		text-align: left;
		width: 90%;
		margin: 10px 0;
	}
	&-btns {
		display: flex;
		justify-content: space-between;
		padding: 0 10px;
		&-stars {
			&-bookmark {
				color: #c0c0c0;
				transform: scale(1.5);
				transition: all 0.3s ease;

				&:hover {
					color: #11a8ff;
				}
			}
		}
		&-col {
			display: flex;
			align-items: center;
			& p {
				font-size: 0.7rem;
			}
			&-thumbup {
				color: #e71d35a4;
				transform: scale(1.2);
				margin-right: 3px;
				transition: all 0.3s ease;
				&:hover {
					color: #e71d36;
				}
			}
			&-thumbdown {
				margin-right: 3px;
				margin-left: 13px;
				color: #1d64e79d;

				transform: scale(1.2);

				transition: all 0.3s ease;
				&:hover {
					color: #1d64e7;
				}
			}
		}
	}
}
.checked {
	color: #fca311;
}
